MLX V1/Node-Red/Flows Node-Red.json
[{"id":"b1e7f175.c2e92","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df409395.1796c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b939d82f.145cf8","type":"http in","z":"df409395.1796c","name":"","url":"/temperatura","method":"post","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["3fb262a7.718f46","7d30840f.4af3b4"]]},{"id":"895a6c83.6eb47","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":530,"y":340,"wires":[]},{"id":"9a60f985.891c08","type":"http in","z":"df409395.1796c","name":"","url":"/temperatura","method":"get","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["8a6dd3c7.d2676"]]},{"id":"21967fe5.54ed9","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":530,"y":460,"wires":[]},{"id":"3fb262a7.718f46","type":"file","z":"df409395.1796c","name":"","filename":"hist_temp","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":360,"y":340,"wires":[["895a6c83.6eb47"]]},{"id":"6afb4a65.5025dc","type":"file","z":"df409395.1796c","name":"","filename":"hist_temp","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":540,"y":280,"wires":[["f18d099b.63d808"]]},{"id":"f22faf0c.20e328","type":"http in","z":"df409395.1796c","name":"","url":"/temperatura","method":"delete","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["f81735f4.f26748"]]},{"id":"f18d099b.63d808","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":710,"y":280,"wires":[]},{"id":"f81735f4.f26748","type":"template","z":"df409395.1796c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":360,"y":280,"wires":[["6afb4a65.5025dc"]]},{"id":"8a6dd3c7.d2676","type":"file in","z":"df409395.1796c","name":"","filename":"last_temp","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":460,"wires":[["21967fe5.54ed9"]]},{"id":"7d30840f.4af3b4","type":"file","z":"df409395.1796c","name":"","filename":"last_temp","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":360,"y":400,"wires":[["895a6c83.6eb47"]]},{"id":"fc24113a.f830c","type":"http in","z":"df409395.1796c","name":"","url":"/HISTtemperatura","method":"get","upload":false,"swaggerDoc":"","x":140,"y":540,"wires":[["a2899827.bb497"]]},{"id":"a2899827.bb497","type":"file in","z":"df409395.1796c","name":"","filename":"hist_temp","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":540,"wires":[["d282c6a4.38925"]]},{"id":"d282c6a4.38925","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":550,"y":540,"wires":[]}]