MLX V1/Node-Red/Flows Node-Red.json
[{"id":"df409395.1796c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df8f25bc.a93ed8","type":"firebase config","z":"","firebaseurl":"tomilx","loginType":"none"},{"id":"b939d82f.145cf8","type":"http in","z":"df409395.1796c","name":"","url":"/M3LL0/temperatura","method":"post","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[["3fb262a7.718f46","7d30840f.4af3b4"]]},{"id":"895a6c83.6eb47","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":750,"y":400,"wires":[]},{"id":"9a60f985.891c08","type":"http in","z":"df409395.1796c","name":"","url":"/M3LL0/temperatura","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["8a6dd3c7.d2676"]]},{"id":"21967fe5.54ed9","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":590,"y":440,"wires":[]},{"id":"3fb262a7.718f46","type":"file","z":"df409395.1796c","name":"","filename":"hist_temp_M3LL0","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":390,"y":340,"wires":[[]]},{"id":"6afb4a65.5025dc","type":"file","z":"df409395.1796c","name":"","filename":"hist_temp_M3LL0","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":280,"wires":[["f18d099b.63d808"]]},{"id":"f22faf0c.20e328","type":"http in","z":"df409395.1796c","name":"","url":"/M3LL0/temperatura","method":"delete","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["f81735f4.f26748"]]},{"id":"f18d099b.63d808","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"f81735f4.f26748","type":"template","z":"df409395.1796c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":360,"y":280,"wires":[["6afb4a65.5025dc"]]},{"id":"8a6dd3c7.d2676","type":"file in","z":"df409395.1796c","name":"","filename":"last_temp_M3LL0","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":460,"wires":[["21967fe5.54ed9","4aba7022.59ead8"]]},{"id":"7d30840f.4af3b4","type":"file","z":"df409395.1796c","name":"","filename":"last_temp_M3LL0","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":390,"y":400,"wires":[["895a6c83.6eb47"]]},{"id":"fc24113a.f830c","type":"http in","z":"df409395.1796c","name":"","url":"/M3LL0/HISTtemperatura","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["a2899827.bb497"]]},{"id":"a2899827.bb497","type":"file in","z":"df409395.1796c","name":"","filename":"hist_temp_M3LL0","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":540,"wires":[["d282c6a4.38925"]]},{"id":"d282c6a4.38925","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":650,"y":540,"wires":[]},{"id":"c7ad4e0d.bb5dc","type":"firebase modify","z":"df409395.1796c","name":"","firebaseconfig":"df8f25bc.a93ed8","childpath":"timestamp","method":"push","value":"msg.payload","priority":"msg.priority","x":440,"y":620,"wires":[[]]},{"id":"a89964ee.16dfb8","type":"inject","z":"df409395.1796c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["c7ad4e0d.bb5dc"]]},{"id":"34d18c86.f26414","type":"inject","z":"df409395.1796c","name":"","topic":"","payload":"HelloWorld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["c7ad4e0d.bb5dc"]]},{"id":"c3cfb425.ad4468","type":"firebase.on","z":"df409395.1796c","name":"","firebaseconfig":"df8f25bc.a93ed8","childpath":"timestamp","atStart":true,"eventType":"value","queries":[],"x":230,"y":740,"wires":[[]]},{"id":"3e3b8369.dc53ac","type":"debug","z":"df409395.1796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":740,"wires":[]},{"id":"e35c691b.5fb84","type":"debug","z":"df409395.1796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":340,"wires":[]},{"id":"4aba7022.59ead8","type":"debug","z":"df409395.1796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":500,"wires":[]},{"id":"4a820670.dab3b8","type":"http in","z":"df409395.1796c","name":"","url":"/X1C0X/temperatura","method":"delete","upload":false,"swaggerDoc":"","x":1000,"y":280,"wires":[["989bb1e8.77ecd8"]]},{"id":"989bb1e8.77ecd8","type":"template","z":"df409395.1796c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1210,"y":280,"wires":[["9ca27ac.41b0b88"]]},{"id":"9ca27ac.41b0b88","type":"file","z":"df409395.1796c","name":"","filename":"hist_temp_X1C0X","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1410,"y":280,"wires":[["7facac80.c115b4"]]},{"id":"7facac80.c115b4","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":1630,"y":280,"wires":[]},{"id":"9eb7282c.22c9f","type":"debug","z":"df409395.1796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":380,"wires":[]},{"id":"e28bd45d.12c198","type":"file","z":"df409395.1796c","name":"","filename":"hist_temp_X1C0X","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1230,"y":380,"wires":[[]]},{"id":"71078b71.ec43d4","type":"http in","z":"df409395.1796c","name":"","url":"/X1C0X/temperatura","method":"post","upload":false,"swaggerDoc":"","x":1000,"y":380,"wires":[["e28bd45d.12c198","c05036e9.b8d48"]]},{"id":"c05036e9.b8d48","type":"file","z":"df409395.1796c","name":"","filename":"last_temp_X1C0X","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1230,"y":440,"wires":[["132159ad.e72a56"]]},{"id":"132159ad.e72a56","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":1590,"y":440,"wires":[]},{"id":"dab33498.2c9418","type":"http in","z":"df409395.1796c","name":"","url":"/X1C0X/temperatura","method":"get","upload":false,"swaggerDoc":"","x":930,"y":520,"wires":[["a01504de.fc99a"]]},{"id":"a01504de.fc99a","type":"file in","z":"df409395.1796c","name":"","filename":"last_temp_X1C0X","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1210,"y":520,"wires":[["f64df14a.89dbe8","e6bcdcda.5a7"]]},{"id":"f64df14a.89dbe8","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":1470,"y":500,"wires":[]},{"id":"e6bcdcda.5a7","type":"debug","z":"df409395.1796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1480,"y":560,"wires":[]},{"id":"4afc5073.9d1b28","type":"http response","z":"df409395.1796c","name":"","statusCode":"","headers":{},"x":1510,"y":600,"wires":[]},{"id":"40b6dc64.869e34","type":"file in","z":"df409395.1796c","name":"","filename":"hist_temp_X1C0X","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1210,"y":600,"wires":[["4afc5073.9d1b28"]]},{"id":"bb363ffd.042778","type":"http in","z":"df409395.1796c","name":"","url":"/X1C0X/HISTtemperatura","method":"get","upload":false,"swaggerDoc":"","x":890,"y":600,"wires":[["40b6dc64.869e34"]]}]